<!DOCTYPE html>
<html lang="en">
	<head>
		<% include ../partials/header.ejs %>
	</head>

	<body>
		<div class="container theme-showcase" role="main">
			<!-- Main jumbotron for a primary marketing message or call to action -->
			<div class="jumbotron">
				<h1 class="text-center"><%= text %></h1>
			<div>
		</div> <!-- /container -->
	</body>
</html>
